<!doctype html>
<html lang="en">

<head>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script>
        function remove_assignment(toremove) {
            $.post("/class", {
                id: toremove,
                removegrade: "True"
            }, function(result) {
                document.location = "/class";
            })
        }

        function remove_upcoming(toremove) {
            $.post("/class", {
                id: toremove,
                removeupcoming: "True"
            }, function(result) {
                document.location = "/class";
            })
        }

        function calc_grade(tableid, gradeid) {
            var table = document.getElementById(tableid);
            var grade_cat = {};

            var temp;
            for (var i = 0, row; row = table.rows[i]; i++) {
                //iterate through rows
                //rows would be accessed using the "row" variable assigned in the for loop
                category = row.cells[1];
                cat_name = category.innerHTML;
                if (cat_name.indexOf("(") == -1 || cat_name.indexOf(")") == -1) {
                    // no grade
                    continue;
                }

                if (typeof grade_cat[cat_name] === 'undefined') {
                    // category is not yet defined
                    grade_cat[cat_name] = [0, 0];
                }

                // get the grade
                temp = row.cells[3].getElementsByTagName("input")[0].value;

                if (temp == 'Z') {
                    grade_cat[cat_name][0] += 0;
                    grade_cat[cat_name][1] += parseFloat(row.cells[4].innerHTML);
                } else if (temp != '' && temp != 'X') {
                    grade_cat[cat_name][0] += parseFloat(row.cells[3].getElementsByTagName("input")[0].value);
                    grade_cat[cat_name][1] += parseFloat(row.cells[4].innerHTML);
                }

            }
            console.log(grade_cat);
            var msum = 0;
            var mtotal = 0;
            for (key in grade_cat) {
                grade_weight = parseInt(key.split("(")[1].replace(")", ""));
                mtotal += 0.01 * grade_weight;
                msum += 0.01 * grade_weight * grade_cat[key][0] / grade_cat[key][1];

            }

            var grade = msum / mtotal * 100;
            console.log(msum, mtotal, grade);
            var disp = "" + Math.round(grade * 100) / 100 + "%";
            document.getElementById(gradeid).innerHTML = disp;
        }
    </script>

    <title>GradePortal</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/compiled.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark indigo">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">GradePortal</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Links -->
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <a class="nav-link" href="#upcom">Upcoming Assignments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#missing">Missing Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#grad">Grades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#memes">Grade Grub</a>
                </li>
                <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{studentid|safe}}
              </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>

                <!-- Dropdown -->

            </ul>
            <!-- Links -->

            <!-- Search form -->

        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
    <a name="upcom"></a>
    <nav class="navbar navbar-light green lighten-4">

        <span class="navbar-brand">Upcoming Assignments</span>
        <button type="button" class="btn btn-sm btn-green pull-right px-3" data-toggle="modal" data-target="#assignmentmodal">Add new assignment</button>

    </nav>

    <!-- Modal -->
    <div class="modal fade" id="assignmentmodal" tabindex="-1" role="dialog" aria-labelledby="assignmentmodalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="assignmentmodalLabel">Add Assignment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="py-3" action="/class" method="POST">
                    <div class="modal-body">

                        <div class="md-form pb-1">

                            <select class="form-control" id="sel1" style="display:block!important" name="classname">
                                {{classesdrop|safe}}
                            </select>
                            <label for="sel1" class="active py-2">Class</label>
                        </div>

                        <div class="md-form pb-2">
                            <input type="text" id="assignmentname" class="form-control" name="title">
                            <label for="assignmentname" class="active">Assignment Title</label>
                        </div>

                        <div class="md-form pb-2">

                            <select class="form-control" id="sel2" style="display:block!important" name="category">
                                {{categorydrop|safe}}
                            </select>
                            <label for="sel2" class="active py-2">Category</label>
                        </div>

                        <div class="md-form pb-2">

                            <div class="col-xs-10">
                                <input class="form-control" type="date" value="2017-12-02" id="date-input" name="date">
                            </div>
                            <label for="date-input" class="active">Date</label>
                        </div>

                        <div class="md-form">

                            <input type="number" id="ptvalue" class="form-control" name="points">
                            <label for="ptvalue" class="active">Estimated point value</label>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Enter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionEx2" role="tablist" aria-multiselectable="true">

        {{upcomingwork|safe}}

    </div>
    <!--/.Accordion wrapper-->

    <a name="missing"></a>
    <nav class="navbar navbar-light red lighten-4">

        <span class="navbar-brand">Missing Work</span>
    </nav>

    <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

        {{missingwork|safe}}
    </div>

    <a name="grad"></a>
    <nav class="navbar navbar-light blue lighten-4">

        <span class="navbar-brand" name="grad">Current Grades</span>
        <button type="button" class="btn btn-sm btn-green pull-right px-3" data-toggle="modal" data-target="#assignmentmodal2">Add a grade</button>

    </nav>

    <!-- Modal -->
    <div class="modal fade" id="assignmentmodal2" tabindex="-1" role="dialog" aria-labelledby="assignmentmodalLabel2" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="assignmentmodalLabel2">Add Grade</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="py-3" action="/class" method="POST">
                    <div class="modal-body">

                        <div class="md-form pb-1">

                            <select class="form-control" id="sel12" style="display:block!important" name="classname2">
                                {{classesdrop|safe}}
                            </select>
                            <label for="sel12" class="active py-2">Class</label>
                        </div>

                        <div class="md-form pb-2">
                            <input type="text" id="assignmentname2" class="form-control" name="title2">
                            <label for="assignmentname" class="active">Assignment Title</label>
                        </div>

                        <div class="md-form pb-2">

                            <select class="form-control" id="sel22" style="display:block!important" name="category2">
                                {{categorydrop|safe}}
                            </select>
                            <label for="sel22" class="active py-2">Category</label>
                        </div>

                        <div class="md-form pb-2">

                            <div class="col-xs-10">
                                <input class="form-control" type="date" value="2017-12-02" id="date-input2" name="date2">
                            </div>
                            <label for="date-input2" class="active">Date</label>
                        </div>

                        <div class="md-form">

                            <input type="number" id="ptvalue2" class="form-control" name="points2">
                            <label for="ptvalue2" class="active">Points</label>
                        </div>

                        <div class="md-form">

                            <input type="number" id="ptvalue3" class="form-control" name="possible2">
                            <label for="ptvalue3" class="active">Possible points</label>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Enter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Accordion wrapper-->
    <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

        {{grades|safe}}
    </div>

    <a name="memes"></a>
    <nav class="navbar navbar-light orange lighten-4 mb-3">

        <span class="navbar-brand">Grade Grub</span>
    </nav>

    <div class="p-3">
        <form class="py-3" action="/class" method="POST">
            <div class="md-form">

                <select class="form-control" id="sel1" style="display:block!important" name="classnamememe">
                    {{classesdrop|safe}}
                </select>
                <label for="sel1" class="active pb-1">Select a class to grade grub!</label>
                <button type="submit" class="btn btn-primary">Grade Grub!</button>
            </div>
        </form>

        {{grub|safe}}
    </div>

    <!--/.Accordion wrapper-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>

</html>